block content
	section.question
		div.container
			div.question__bg
				h3.base-title.base-title--big Не нашли решение своей проблемы?
				p.question__text Задайте вопрос IT-эксперту, постарайтесь изложить проблему максимально подробно. Ответ на свой вопрос вы найдёте на специальной странице в общем списке спустя некоторое время.
				a.question__link(href='/') Все вопросы и ответы
				a.question__link.question__link--with-bg(href='/') 
					span.question__icon.icon 
						+svg("comments")
					span Задать вопрос эксперту