@keyframes sizes {
	from {width: 40px; height: 40px;}
	50% {width: 45px; height: 45px;}
	to {width: 40px; height: 40px;}
}

.flip-card{
	position: relative;
	transform-style: preserve-3d;
  	transition: all .6s linear;
  	&--l2r{
  		 &:hover,&:focus {
   			transform: rotateY(180deg);
   			box-shadow: -5px 5px 15px rgba(0,0,0, .3);
  		}
  	}
  	&--r2l{
  		&:hover,&:focus {
  			transform: rotateY(-180deg);
  			box-shadow: -5px 5px 15px rgba(0,0,0, .3);
  		}
  	}
  	&--b2t{
  		&:hover,&:focus {
  			transform: rotateX(180deg);
  			box-shadow: 5px -5px 15px rgba(0,0,0, .3);
  		}
  		.flip-card__back{
  			transform: rotateX(-180deg);
  		}
  	}
	&__front{
		width: 100%;
		height: 100%;
	}
	&__face{
		position: absolute;
  		width: 100%;
  		height: 100%;
  		backface-visibility: hidden;
	}
	&__back{
		display: block;
		transform: rotateY(180deg);
		box-sizing: border-box;
		text-align: center;
		background: $body-bg;
		color: #fff;
		
	}
	&__link{
		display: block;
		position: absolute; 
		right: 14px;
		bottom: 10px;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		fill: $color-white;
		tarnsition: all ease 0.2s;
		animation-name: sizes;
		animation-duration: 1s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-play-state: paused;
		&:hover{
			fill: $acent-text-cl;
			animation-play-state: running;
		}
	}
}