// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$header-text-cl: #444444;
$smothy-blak-cl: #464646;
$section-text-cl: #373737;
$acent-text-cl: #ffa800;
$sublime-text-cl: #d9d9d9;
$sublime-text-cl2: #948f8f;
$shadow-text-cl: #838383;
$body-bg: #f9fafc;

// FONTS 
// 
$base-font-size: 18px;
$main-font: Montserrat;


